.home{
    height: 100vh;
    background-size: 100% 100%;
    animation-name: homeslideshow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes homeslideshow
 {
    0% {background-image: url(../images/slideshow-1.jpg);}
    40% {background-image: url(../images/slideshow-2.jpg);}
    100% {background-image: url(../images/slideshow-3.jpg);}
}

.homecontent{
    height: 100vh;
    overflow: hidden;
}
.mouse{
    height: 40px;
    width: 30px;
    border: 2px solid white;
    border-radius: 5rem;
    overflow: hidden;
}
.mouseCenter{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 100px;
    animation-name: circleanimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
   
}
@keyframes circleanimation
{
    0% {top:10%;}
    100% {top: 100%;}
    0% {opacity: 100%;}
    70% {opacity: 0%;}
}
@keyframes cirleopacity
{
from {opacity: 100%;}
to {opacity: 0%;}
}
.title{
    font-weight: 600;
    font-size: 20px;
}
.logo{
    font-size: 20px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: D55D73;
}
.homeword{
    color:D55D73 !important ;
}
.navfontsize{
    font-weight: 500 !important;
}
.h1font{
    font-weight: 900;
    font-size: 70px;
}

.h1animation {
    position: relative;
    animation-name: h1animation1;
    animation-duration: 1s;

}

@keyframes h1animation1
{
    0% {left: 500px;}
    100% {left: 0px;}
    0% {opacity: 0%;}
    100% {opacity: 100%;}

}


h1::after /* i can't match the fade in animation with the hanging text animation*/
{
    content: "We build great brands.";
    animation-name: changetext;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes changetext
{
    0% {content: "We build great brands.";}
    50% {content: "Advanced in digital works.";}
    100% {content: "Focused on strategy.";}

}
.settingsicon 
{
font-size: 18px;
cursor: pointer;
position: absolute;
margin-top: 200px !important;
}
.settingsicon:hover
{
    background-color: #434343 !important;
}

.editbutton1
{
    
    background-color: transparent;
    border: 1px solid white;
    padding: 25px;
    transition: 1s background-color;
}
.editbutton2
{
   
    background-color: transparent;
    border: 1px solid white;
    padding: 25px;
    transition: 1s background-color;
}
.homebuttons
{
    margin-top: 350px;
}

.editbutton1:hover
{
    background-color: white ; /*i can't hover the icon because it's an image*/
    
}
.editbutton2:hover
{
    background-color: white ;
    
}

.horizontalline
{
    height: 1px;
  width: 100%;
    background-color: white;
    margin-top: 70px;
    opacity: 30%;
    
}

.line
{
    background-color: black;
    width: 5%;
    height: 1px;
    transition: .5s all;
    margin: auto;
}
.about1:hover .line
{
    width: 10% ;
}

.aboutusfont
{
    font-weight: 900 !important;
}

.progress-bar
{
    height: 5px !important;
}
.progress
{
    height: 5px !important;
}

.h4after1::after
{
    content: "80%";
    margin-left: 350px;
    
}
.h4after1
{
    font-size: 14px;

}
.h4after2::after
{
    content: "95%";
    margin-left: 400px;
    
}
.h4after2
{
    font-size: 14px;

}
.h4after3::after
{
    content: "85%";
    margin-left: 364px;
    
}
.h4after3
{
    font-size: 14px;

}
.h4after4::after
{
    content: "70%";
    margin-left: 265px;
    
}
.h4after4
{
    font-size: 14px;

}

.imagesec2
{
    width: 100%;
    transition: .5s transform;
}
.fontsec2
{
    font-size: 20px;
}
.onedivsec2:hover .imagesec2
{
transform: scale(1.2);
}
.imgdiv
{
    overflow: hidden;
}
.onedivsec2:hover .imagelayer
{
opacity: 1;
}
.onedivsec2:hover .iconsclick
{
    top: 0px;
    opacity: 1;
}
.onedivsec2:hover .fontsec2
{
    color:D55D73 ;
}
.imagelayer
{
    background-color: rgba(213,93,115, .7);
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: .5s all;
    overflow: hidden;
  
    
}

.iconsclick
{
    cursor: pointer;
    position: relative;
    top: 20%;
    opacity: 0;
    transition: 1s all; 
}
.btn-danger
{
    font-size: 20px;
    font-weight: 500;
}
.iconsec3
{
    font-size: 28px;
    color:D55D73 ;
}
.onedivsec3:hover .fontsec3
{
    color:D55D73 ;
}
.fontsec3 {
    transition: .5s all;
}
.navcontrol
{
    width: max-content;
    margin: auto;
}
.nav-tabs
{
    border-bottom: unset;
    
}

.nav-tabs .nav-link {
   
   
    border-radius: 100%;
    border: 0px;
    opacity: 70%;
  
   
}
.imgsec4
{
    border-radius: 100%;
    width: 100%;
    
    
}
.hamada
{
    
    height: 110px;
    width: 110px;
    
    
}
.imglayer2
{
    background-color: rgba(0, 0,0, .7);
    border-radius: 100%;
    transition: 1s all;
    
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    transform: scale(1.2);
   opacity: 100%;
    
    

}
.item 
{
    height: 150px;
    width: 110px;
    font-size: 15px;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: rgba(0, 0,0, 0);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link:focus, .nav-link:hover {
    color: rgba(0, 0,0, 0);
}
.iconfont3
{
   color: #666666;
   font-size: 25px;
}
.tab-pane
{
    margin-top: 100px !important;
}

.headerfont7
{
    color:#999999 ;
    font-size: 18px;
}
.iconsec5
{
    font-size: 45px;
    color:D55D73 ;
}
.oneleft:hover .hoversec5
{
color:D55D73 ;
}
.titlesec5
{
    font-weight: 700;
    font-size: 30px;
}
.cursorsec5
{
    cursor: pointer;
}
.cursorsec5:hover
{
    color:D55D73 ;
}
.form-control
{
    padding: 18px;
    
}
::placeholder
{
    opacity: .5 !important;
}
.footer
{
    height: 470px;
    background-image: url(../images/footer.jpg);
    background-size: 100% 100%;
}
.footericon
{
    font-size: 60px;
    color: D55D73;
    opacity: 70%;

}
.footericon:hover
{
opacity: 100%;
}
.imgself
{
   top: 70px;
}
.contanerme
{
    top: 200px ;
}
.footerh5
{
    font-size: 22px;
    font-weight: 500;
}
a {
    color: #ffffff;
    text-decoration: none;
    transition: .5s all;
}
a:hover {
    color: dc3545;
}

.btnfooter
{
    border-color: white;
    color: white;
}
.btnfooter:hover
{
    border-color: dc3545;
    background-color: unset;
    color: dc3545;
}
.homeword2
{
    color: gray !important;
}
.angora 
{
    color: white ;
}

.angora:hover
{
    color:dc3545 ;
}